.model {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    transition: all ease 0.5s;
    z-index: 999;
}
.model-login {
    position: fixed;
    max-width: 450px;
    left: 0;
    right: 0;
    top: 150px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--white-color);
    box-shadow: 10px 5px 10px 2px rgba(var(--black-color), 0.6);
    border-radius: 3px;
    animation: topbottomAnimationc ease 0.2s;
}
.model-login__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 12px;
    text-align: center;
    font-size: 1.7rem;
    color: red;
    cursor: pointer;
    border-radius: 1px;
}
.model-login__close:hover {
    background-color: red;
    color: var(--white-color);
}
.model-login__heading {
    
}
.model-login__heading--main {
    display: block;
    text-transform: uppercase;
    font-family: oswald;
    font-size: 2.4rem;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
    color: var(--black-color);
}
.model-login__heading--sub {
    display: block;
    font-family: oswald;
    font-size: 2rem;
    line-height: 25px;
    color: #5b5b5b;
    text-align: center;
    margin-top: 20px;
}
.model-login__body {
    margin-top: 20px;
}
.model-login__body-input {
    display: block;
    width: 100%;
    border: 2px solid #5b5b5b;
    padding: 10px 15px;
    font-size: 1.5rem;
    line-height: 17px;
    border-radius: 4px;
    outline: none;
}
.model-login__footer {
    text-align: center;
    margin-top: 10px;
}
.model-login__footer-btn {
    width: 100%;
    text-transform: uppercase;
    background-color: var(--yellow-primary-color);
    color: var(--black-color);
    font-size: 1.7rem;
    line-height: 20px;
    font-weight: 500;
    font-family: oswald;
    border-radius: 4px;
}
