* {
    margin: 0 auto;
    padding: 0;
}
#toast {
    position: fixed;
    /* top: 32px; */
    right: 32px;
    z-index: 9999;
}
.toast {
    background-color:#fff;
    display: flex;
    align-items: center;
    border-radius: 2px;
    padding: 20px 0;
    min-width: 375px;
    max-width: 400px;
    width: 100%;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    /* transform: translateX(calc(100% + 32px)); */
    /* animation: slideInLeft ease 0.3s, fadeOut linear 1s 3s forwards; */
    transition: all linear 0.3s;
}
@keyframes slideInLeft {
    from { 
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast + .toast {
    margin-top: 20px;
}
.toast__icon {
    font-size: 24px;
}
.toast__icon,
.toast__close {
     padding: 0 16px;
}
.toast__body{
    flex-grow: 1;
}

.toast__title{
    font-weight: 600;
    font-size: 16px;
    color: #333;
}
.toast__msg{
    font-size: 14px;
    color: #888;
    margin-top:6px;
    line-height: 1.5;
}
.toast__close{
    color: rgba(0, 0, 0, 0.3);
    font-size: 2rem;
}
.toast--success {
border-color: #47d864;
}
.toast--success .toast__icon {
    color: #47d864;
}
.toast--warning {
    border-color: #ffc021;
}
.toast--warning .toast__icon {
    color: #ffc021;
}
.toast--error {
    border-color: #ff623d;
}
.toast--error .toast__icon {
    color: #ff623d;
}
#toast {
    position: fixed;
    right: 0;
}